<form [formGroup]="profileForm" class="form-horizontal"  (ngSubmit)="onSubmit(fname,lname,pnumber,email,adr,ctry,st)" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="first-name" class="col-sm-2 control-label">First Name: </label>
            <div class="col-sm-8">
                <input id="first-name" type="text" formControlName="firstName" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="last-name" class="col-sm-2 control-label">Last Name: </label>
            <div class="col-sm-8">
                <input id="last-name" type="text" formControlName="lastName" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phone-number" class="col-sm-2 control-label">Phone Number: </label>
            <div class="col-sm-8">
                <input id="phone-number" type="number" formControlName="phoneNumber" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email: </label>
            <div class="col-sm-8">
                <input id="email" type="text" formControlName="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address1: </label>
            <div class="col-sm-8">
                <textarea id="address" type="text" formControlName="address" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group col-sm-8">
            <label for="country">Country</label>
            <select id="country" class="form-control country selectFilter" data-target ="State" formControlName="country">
                <option value="-1">--Select Country--</option>
                <option data-ref="cn">China</option>
                <option data-ref="in">India</option>
                <option data-ref="us">Usa</option>
            </select>
            <label for="state">State</label>
            <select id="state" class="form-control state selectFilter" formControlName="state">
                <option value="-1">--select state--</option>
                <option data-belong="cn">Hong kong</option>
                <option data-belong="cn">Shanghai</option>
                <option data-belong="cn">Beijing</option>
                <option data-belong="cn">Hebei</option>
                <option data-belong="in">Tamil nadu</option>                
                <option data-belong="in">Karnataka</option>                
                <option data-belong="in">Maharastra</option>                
                <option data-belong="in">Kerala</option>                
                <option data-belong="in">Punjab</option> 
                <option data-belong="us">New yark</option>               
                <option data-belong="us">Washington DC</option>               
                <option data-belong="us">Texas</option>               
                <option data-belong="us">Arizona</option>               
            </select>
        </div>
    </div>
<div class="panel-footer">
    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Submit</button>
</div>     
</form>

